<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
		<sectionGroup name="system.web">
			<section name="neatUpload" type="Brettle.Web.NeatUpload.ConfigSectionHandler, Brettle.Web.NeatUpload" allowLocation="true" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="SystemName" value="TakeTopXMB[MiniPMP]" />
		<add key="ModuleSampleUser" value="SAMPLE" />
		<add key="TopProject" value="RootProject" />
		<add key="SessionTimeout" value="1000" />
		<add key="WebSite" value="WWW.TAKETOPITS.COM" />
		<add key="WebSiteValue" value="HTTPS://WWW.TAKETOPITS.COM" />
		<add key="Slogan" value="Project Progress Management Tool!" />
		<add key="CurrentSite" value="http://localhost:5000/XMB" />

		<add key="VerificationCode" value="YES" />
		<add key="SMSVerification" value="NO" />
		<add key="ProductType" value="LOCALSAAS" />
		<!--Product Types: GEPMP,EDPMP,ECMP,ERP,CRM,CMP,SIMP,SAAS,LOCALSAAS-->
		<add key="GroupVersion" value="NO" />

		<add key="IsOEMVersion" value="NO" />
		<add key="SaveOperateLog" value="NO" />
		<add key="TimerInterval" value="60000" />
		<add key="ChartImageHandler" value="storage=file;timeout=60000;Url=~/TempImageFiles/;" />

		<add key="MustInFrame" value="YES" />
		<!--Whether opened pages must be within a frame-->
		<add key="AutoSaveWFOperator" value="NO" />
		<!--Automatically save the approvers selected for the next step during the workflow approval process-->
		<add key="CanDeleteWorkflowAfterApproved" value="YES" />
		<!--Whether workflows that are activated but not approved can be deleted-->
		<add key="CloseCurrentWFTab" value="YES" />
		<!--Close the current TAB after workflow approval is passed-->

		<add key="DefaultLang" value="en" />
		<!--Chinese: zh-CN,Traditional Chinese: zh-tw, English: en,Spanish: es，French: fr，Italian: it，Japanese: ja，Portuguese: pt，Russian: ru，-->
		<add key="CopyRight" value="TakeTop-ZhongLiYue" />
		<add key="ServerName" value="SERVER1" />
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>
	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>
			<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
			<property name="dialect">NHibernate.Dialect.PostgreSQL83Dialect</property>
			<property name="connection.driver_class">NHibernate.Driver.NpgsqlDriver</property>
			<property name="connection.connection_string">Server=localhost;Database=taketopxmbendb;User ID=postgres;Password=zxckkllzly;Enlist=true;Pooling=true;Minimum Pool Size=5;Maximum Pool Size=51200;Timeout=600;</property>
			<mapping assembly="ProjectMgt.Model" />
		</session-factory>
	</hibernate-configuration>
	<connectionStrings>
		<!--Connection string for connecting to SQL Server database-->
		<add name="SQLCONNECTIONSTRING" connectionString="Server=127.0.0.1;Port=5432;User Id=postgres;Password=zxckkllzly;Database=taketopxmbendb;Pooling=true;Minimum Pool Size=5;Maximum Pool Size=51200;Timeout=600;" providerName="Npgsql" />
		<add name="extganttDataContextConnectionString" connectionString="User Id=postgres;Password=zxckkllzly;Host=127.0.0.1;Database=taketopxmbendb;Unicode=True;Persist Security Info=True;Pooling=true; " />
	</connectionStrings>
	<!--
    For a description of web.config changes, please refer to: http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
	<system.web>
		<!--  Dynamic Debug Compilation
          Set compilation debug="true" to enable ASPX debugging. Otherwise, set this value to
          false to improve the runtime performance of this application.
          Set compilation debug="true" to insert debug symbols (.pdb information)
          into the compiled pages. Because this creates larger files that execute
          slower, you should set this value to true only when debugging and at all other times to
          false. For more information, please refer to the documentation about
          debugging ASP.NET files.
    -->
		<compilation defaultLanguage="c#" debug="true" targetFramework="4.7.2">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Net.Http.WebRequest, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<!--<add assembly="Microsoft.Office.Interop.MSProject, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>-->
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Buffers, Version=4.0.3.0, Culture=neutral, PublicKeyToken=CC7B13FFCD2DDD51" />
				<add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" />


			</assemblies>
		</compilation>
		<httpHandlers>
			<add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />

		</httpHandlers>
		<!--  Custom Error Messages
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, or set to "Off" to disable custom error messages. 
          Add an <error> tag for each error to be handled.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error messages.
          "RemoteOnly" Display custom (friendly) messages only for users not running on the local web server.
           For security purposes, it is recommended to use this setting so that 
           application details are not displayed to remote clients.
    -->
		<customErrors mode="Off" defaultRedirect="TTDisplayErrors.aspx">
			<error statusCode="403" redirect="TTDisplayErrors.aspx" />
			<error statusCode="404" redirect="TTDisplayErrors.aspx" />
		</customErrors>
		<!--  Authentication 
          This section sets the authentication policy for the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication based on the application's settings 
            (Basic, Digest, or Integrated Windows). Anonymous access must be disabled in IIS.
          "Forms" You provide a custom form (web page) for users to input credentials, then 
           verify their identity within your application. User credential tokens are stored in Cookies.
          "Passport" Authentication is performed through Microsoft's centralized authentication service,
            which provides single sign-on and core profile services for member sites.
    -->
		<authentication mode="Windows" />
		<!--<identity impersonate="true" userName="ADMINISTRATOR" password="zxczly" />-->
		<!--This section sets the authorization policy for the application. It allows or denies access to
          application resources for different users or roles.
          Wildcards: "*" means anyone, "?" means anonymous
          (unauthenticated) users.-->
		<pages controlRenderingCompatibilityVersion="4.5" validateRequest="false" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add tagPrefix="CKEditor" assembly="CKEditor.NET" namespace="CKEditor.NET" />
			</controls>
		</pages>
		<authorization>
			<allow users="*" />
			<!-- Allow all users -->
			<!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
		</authorization>
		<!--  Application Level Tracing
          Application level tracing enables trace log output for each page in the application.
          Set trace enabled="true" to enable application tracing. If pageOutput="true", then
          trace information is displayed at the bottom of each page. Otherwise, you can view the
          application trace log by browsing the "trace.axd" page in the
          root directory of the web application.
    -->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
		<!--  Session State Settings
          By default, ASP.NET uses cookies to identify which requests belong to a specific session.
          If cookies are not available, sessions can be tracked by adding the session identifier to the URL.
         To disable cookies, set sessionState cookieless="true".
    -->
    <!-- Secure Session configuration -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" timeout="1000" cookieless="UseCookies" cookieName="Secure_Session" regenerateExpiredSessionId="true" compressionEnabled="true"/>
    <!-- Enhanced Cookie security -->
    <httpCookies httpOnly="true" requireSSL="true" sameSite="Strict"/>
		<!--  Globalization
          This section sets the globalization settings for the application.
    -->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN" uiCulture="zh-CN" />
		<!--<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" uiCulture="en-US"/>-->
		<!--<xhtmlConformance mode="Legacy"/>-->
		<httpModules>
			<add name="UploadHttpModule" type="Brettle.Web.NeatUpload.UploadHttpModule, Brettle.Web.NeatUpload" />
		</httpModules>
		<neatUpload useHttpModule="true" maxNormalRequestLength="2048000" maxRequestLength="2097151" defaultProvider="FilesystemUploadStorageProvider">
			<providers>
				<add name="FilesystemUploadStorageProvider" type="Brettle.Web.NeatUpload.FilesystemUploadStorageProvider, Brettle.Web.NeatUpload" />
			</providers>
		</neatUpload>
		<!--File size transfer settings for IIS5,IIS6-->
		<httpRuntime maxRequestLength="2048000" maxQueryStringLength="2097151" executionTimeout="36000000" requestValidationMode="2.0" targetFramework="4.5" />
	</system.web>
	<system.webServer>
		<directoryBrowse enabled="true" />
		<!--File size transfer settings for IIS7-->
		<security>
			<requestFiltering>
				　<requestLimits maxAllowedContentLength="2147483647" maxQueryString="2147483647"/>
			</requestFiltering>
		</security>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<remove name="ChartImageHandler" />
			<add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />

			<add name="poserver" path="poserver.aspx" verb="*"  type="PageOffice.POServer.ServerHandler"/>
			<add name="posetup" path="posetup.exe" verb="GET"  type="PageOffice.POServer.ServerHandler"/>
			<add name="sealsetup" path="sealsetup.exe" verb="GET" type="PageOffice.POServer.ServerHandler"/>
			<add name="pageoffice" path="pageoffice.js" verb="GET" type="PageOffice.POServer.ServerHandler"/>
			<add name="adminseal" path="adminseal.aspx" verb="*"  type="PageOffice.POServer.AdminSealHandler"/>
			<add name="loginseal" path="loginseal.aspx" verb="*"  type="PageOffice.POServer.AdminSealHandler"/>
		</handlers>
		<defaultDocument>
			<files>
				<clear />
				<add value="default.aspx" />
				<add value="Default.htm" />
				<add value="Default.asp" />
				<add value="index.htm" />
				<add value="index.html" />
				<add value="iisstart.htm" />
			</files>
		</defaultDocument>
		<!--<staticContent>
      <mimeMap fileExtension=".mp4" mimeType="Application/mp4"/>
    </staticContent>-->
	</system.webServer>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<system.serviceModel>
		<client />
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<customBinding>
				<binding name="SessionService.customBinding0">
					<binaryMessageEncoding />
					<httpTransport />
				</binding>
			</customBinding>
		</bindings>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
		<services>
			<service name="SessionService">
				<endpoint address="" binding="customBinding" bindingConfiguration="SessionService.customBinding0" contract="SessionService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="office" publicKeyToken="71e9bce111e9429c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Vbe.Interop" publicKeyToken="71e9bce111e9429c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>